.kslider {
	display: inline-block;
	position: relative;
	overflow: hidden;
	border : 2px solid rgb(220,220,220);
}
.kslider .body_slider {
	position: absolute;
	z-index: 9;
}
.kslider .next, .kslider .prev {
	position: absolute;
	top: 0;
	width: 60px;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	color: rgb(255,255,255);
	z-index: 10;
	cursor: pointer;
}
.kslider .next:hover, .kslider .prev:hover {
	color: rgb(210,210,210);
}
.kslider .next:before, .kslider .prev:before {
	position: absolute;
	width: 40px;
	height : 40px;
	top: 50%;
	left: 50%;
	margin: -20px 0 0 -20px;
	font-size: 50px;
	text-align: center;
	line-height: 40px;
}
.kslider .next {
	right: 0;
	background: linear-gradient(to left, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%);
}
.kslider .next:before {
	content: '\203A';
}
.kslider .prev {
	left: 0;
	background: linear-gradient(to right, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%);
}
.kslider .prev:before {
	content: '\2039';
}
.kslider .one_item {
	position: absolute;
	top: 0;
	background-color : rgb(240,240,240);
	border: 2px solid rgb(220,220,220);
}
.kslider .one_item img {
	display : none;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
	margin: auto;
}
